@model IEnumerable<OurProduct.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PPrice)
            </th>           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PPrice)
            </td>           
        </tr>
}
    </tbody>
</table>
